// Minimal styles - most styling handled by Tailwind/DaisyUI and inline styles
:host {
  display: block;
  width: 100%;
  height: 100%;
}

// Ensure Material icons work properly
::ng-deep {
  mat-icon {
    user-select: none;
  }
}
